<ngx-smart-modal [identifier]="modalName" class="modal" (onOpen)="logging()" (onClose)="closePopup()">
    <div class="popup-container">
        <ng-container [ngTemplateOutlet]="modalTmp"></ng-container>
    </div>
</ngx-smart-modal>
<ng-template #method>
    <div class="page-container-name"><span class="rectangle">О методике</span></div>
    <p class="modal-text">KinoLanguage — это авторская методика изучения английского языка, которая помогает в
        короткий срок заметно улучшить понимание английского на слух и снять языковой барьер.
        Методика школы основана на подключении к потоку живой речи и постановке произношения, грамотном аудировании и
        комплексной проработке лексики, грамматики, синтаксиса на основе фраз и диалогов из фильмов.
    </p>
    <p class="modal-text">Мы считаем, что залог снятия языкового барьера и успешного понимания на слух — это
        правильное произношение. Мы не пониманием носителей языка, а они не понимают нас потому, что мы неправильно
        говорим.
        Поэтому в нашей школе
        огромное внимание уделяется произношению. Именно с него мы начинаем наше обучение.</p>
    <p class="modal-text">После постановки правильного британского произношения ученики школы Kinolanguage осваивают
        большое количество
        лексических и грамматических конструкций, а также новых слов, которые позволяют снять языковой барьер и уже
        через три месяца говорить на английском, понимать и быть понятыми.</p>
    <p class="modal-text">Обучение возможно с любого уровня!</p>
</ng-template>
<ng-template #educator>
    <div class="educator-popup">
        <div class="page-container-name"><span class="rectangle" [innerHTML]="data.name"></span></div>
        <div class="educator-popup__data">
            <img [src]="data.img" alt="">
            <p class="modal-text" [innerHTML]="clearText(data.desc)"></p>
        </div>
    </div>
</ng-template>
<ng-template #movies>
    <div class="movies-list-container">
        <ul class="movies-list">
            <li>Hitchhiker's Guide to the Galaxy</li>
            <li>Scent of a Woman</li>
            <li>The Darjeeling Limited</li>
            <li>Match Point</li>
            <li>Easy Virtue</li>
            <li>Good Vibrations</li>
            <li>The Truman Show</li>
            <li>Analyze This</li>
            <li>Analyze That</li>
            <li>The Intern</li>
            <li>Saving Mr Banks</li>
            <li>Pointbreak</li>
            <li>A Beautiful Mind</li>
            <li>About Time</li>
        </ul>
        <p class="modal-text">Это далеко не весь список просмотренных материалов. Помимо основного фильма во время
            занятий мы смотрим классные короткометражки, мультфильмы и видеоклипы!</p>
        <p class="modal-text">Нам интересно знать, по какому фильму вам хотелось бы учить английский. Поделитесь вашими
            идеями, возможно выбранный вами фильм мы будем разбирать на будущих занятиях <a
                    href="https://goo.gl/forms/HS4P4rl4UhctBFcm1" target="_blank">поделиться</a>.</p>
    </div>
</ng-template>
<ng-template #page_a>
    <div class="page-container-name"><span class="rectangle">Индивидуальное занятие</span></div>
    <p class="modal-text"> Во время занятий выполняются специальные упражнения, позволяющие отработать сложно
        произносимые и непривычные для
        русскоговорящего человека звуки.</p>
    <p class="modal-text">Преподаватель не только учит правильному произношению звуков, но и демонстрирует правильное
        использования речевого
        аппарата. В результате правильное произношение закрепляется на уровне тела.</p>
    <p class="modal-text">Ученики изучают «секретные» инструменты для работы с фильмом на медленной скорости.
        Это помогает ученикам на втором этапе обучения выйти на стремительное пополнение словарного запаса.</p>
</ng-template>
<ng-template #page_c>
    <div class="page-container-name"><span class="rectangle">Групповые занятия</span></div>
    <p class="modal-text">Просмотр и разбор фильмов осуществляется по специальной методике KinoLanguage, которая
        ориентирована на глубокую
        проработку трёх уровней языка: 1) фонетики, 2) грамматики, 3) лексики.
    </p>
    <p class="modal-text">Продолжается работа с произношением каждого ученика. Каждая фраза из фильма подробно
        разбирается. </p>
    <p class="modal-text">Все незнакомые ученикам конструкции и слова выносятся на отдельные карточки и выучиваются, в
        результате чего происходит колоссальный скачок словарного запаса.</p>
    <p class="modal-text"> Во время занятий учеников знакомят с «системой времен»:
        простой и логичной схемой, позволяющей быстро запомнить все времена английского языка. В конце каждого занятия
        ученик получает набор материалов для самостоятельной работы дома.</p>
    <p class="modal-text">Возможно индивидуальное обучение.</p>
</ng-template>

<ng-template #events>
    <div class="page-container-name"><span class="rectangle">Ближайшие события</span></div>
    <div class="events-container">
        <p class="modal-text">Каждый понедельник (категория – все, advanced) -
            <a class="modal__link" href="https://merge.timepad.ru/event/82401/" target="_blank">записаться</a>
        </p>
        <p class="modal-text">Каждый четверг(категория – все, advanced) -
            <a class="modal__link" href="https://merge.timepad.ru/event/922361/" target="_blank">записаться</a>
        </p>
        <p class="modal-text">Все среды с 5 июня (категория – все, advanced) -
            <a class="modal__link" href="https://kinolanguage-school.timepad.ru/event/985584/"
               target="_blank">записаться</a>
        </p>
    </div>
</ng-template>

<ng-template #feedback>
    <app-feedback></app-feedback>
</ng-template>

<ng-template #payform>
    <app-pay-form></app-pay-form>
</ng-template>
