<div class="page-inner">
    <div class="warner-page">
        <div class="code"><img src="/assets/images/code.png"></div>
        <div class="inner-a">
            <p>Новый онлайн формат</p>
            <p>Обучения английскому</p>
            <p>По фильмам</p>
        </div>
        <div class="inner-b">
            <p><span>ОТ</span> постановки произношения</p>
            <p><span>До</span> активизации речевых навыков</p>
            <p>Полученных при работе с фильмом</p>
        </div>
        <div class="inner-c">
            <div>
                <p class="i-number">11</p>
                <div class="p-inner">
                    <p>-ти летний опыт обучения</p>
                    <p>по фильмам теперь доступен</p>
                </div>
            </div>
            <p class="i-online">online</p>
        </div>

        <div class="pay-info">
            <p>Оплатить обучение - <em (click)="openPayForm()">Оплатить</em>&nbsp;&nbsp;</p>
            <p>Записаться на занятие -
                <a href="https://kinolanguageschool.timepad.ru/future"> kinolanguageschool.timepad</a>
            </p>
        </div>
    </div>
</div>
