/** BreakPoints */
$size_7680: 4320px; //(8K)
$size_3180: 3180px; //(4K)
$size_2560: 2560px; //(QHD)
$size_1921: 1921px;
$size_1920: 1920px;
$size_1919: 1919px;
$size_1860: 1860px;
$size_1700: 1700px;
$size_1600: 1600px;
$size_1560: 1560px;
$size_1480: 1480px;
$size_1366: 1366px;
$size_1280: 1280px;
$size_1200: 1200px;
$size_1024: 1024px;
$size_1023: 1023px;
$size_990: 990px;
$size_960: 960px;
$size_900: 900px;
$size_870: 870px;
$size_860: 860px;
$size_840: 840px;
$size_800: 800px;
$size_769: 769px;
$size_768: 768px;
$size_767: 767px;
$size_725: 725px;
$size_640: 640px;
$size_641: 641px;
$size_639: 639px;
$size_600: 600px;
$size_560: 560px;
$size_520: 520px;
$size_530: 530px;
$size_480: 480px;
$size_414: 414px;
$size_434: 434px;
$size_375: 375px;
$size_360: 360px;
$size_320: 320px;

$break_screen_480: 480px;
$break_screen_1200: 1200px;
$break_screen_1920: 1920px;

@mixin mediaScreenMaxWidth($size) {
    @media screen and (max-width: #{$size+px}) {
        @content;
    }
}

@mixin mediaScreenMinWidth($size) {
    @media screen and (min-width: #{$size+px}) {
        @content;
    }
}

@mixin screen_480() {
    @media screen and (max-width: $break_screen_480) {
        @content;
    }
}

@mixin screen_1200() {
    @media screen and (max-width: $break_screen_1200) {
        @content;
    }
}

@mixin screen_1920() {
    @media screen and (max-width: $break_screen_1920) {
        @content;
    }
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

/** */
@mixin setMediaMax($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

/** */
@mixin setMediaScope($size) {
    @media screen and (min-width: $size) and (max-width: $size) {
        @content;
    }
}

/** */
@mixin setMediaMin($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}

@mixin setMinMax($min,$max) {
    @media screen and (min-width: $min) and (min-width: $max) {
        @content;
    }
}

