$fontPath: '/assets/fonts/';
$defaultFont: "Roboto Condensed";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic,cyrillic-ext');
@font-face {
    font-family: 'Georgia';
    src: url($fontPath + 'Georgia.eot');
    src: local('Georgia'),
    url($fontPath + 'Georgia.eot?#iefix') format('embedded-opentype'),
    url($fontPath + 'Georgia.woff') format('woff'),
    url($fontPath + 'Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url($fontPath +'BebasNeueRegular.eot');
    src: url($fontPath +'BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url($fontPath +'BebasNeueRegular.woff') format('woff'),
    url($fontPath +'BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}