@mixin setBorder($border: dashed, $color: white) {
  border: 1px $border $color;
}

@mixin setBorderPattern() {
  $width: 38px;
  border-left: $width solid transparent;
  border-right: $width solid transparent;
  border-top: none;
  border-bottom: none;
  border-image: url($borderPattern) 20 repeat;
}

@mixin setFontParams($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin addRectangleIcon() {
  content: '';
  position: absolute;
  background: url($rect) center center no-repeat;
  width: 40px;
  height: 20px;
}

@mixin flexColumAllCenter($justify: center, $align: center) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin setBackgroundGif($name) {
  background: url($name) center center no-repeat;
  background-size: cover;
  position: relative;
}

@mixin mediaPreset($size, $content) {
  @media (max-width: 1024px) {
    font-size: 60px;
  }
}