// borders
$borderPattern: '/assets/images/left_pattern.png';
$leftPatt: '/assets/images/left_pattern.png';
$rightPatt: '/assets/images/right_pattern.png';
$bgMain: '/assets/images/bg-3.jpg';

$bgGallery: "/assets/images/gallery/tribeca.png";

// Page-1
$lourels: '/assets/images/screen-1/laurels.png';
$textFrame: '/assets/images/screen-2/text_frame.png';
$arrowIcon: '/assets/images/screen-2/arrow.png';

$closeIcon: '/assets/images/popup/pop-up_close.png';
$rect: '/assets/images/rect.png';
//screen-gallery
$bgGallery: '/assets/images/screen-4/sc.png';
//screen-5
$arrowBack: '/assets/images/screen-5/back-arrow.png';
$backBuble: '/assets/images/screen-5/bubble.png';
$backBuble: '/assets/images/screen-5/bubble.png';

// Gifs
$firstGif: '/assets/gif/screen-1.gif';
$secondGif: '/assets/gif/screen-2.gif';
$thirdGif: '/assets/gif/screen-3.gif';
$fiveGif: '/assets/gif/screen-5.gif';
$sixGif: '/assets/gif/screen-6.gif';
$sevenGif: '/assets/gif/screen-7.gif';
$eightGif: '/assets/gif/screen-8.gif';
$polinaGif: '/assets/gif/polina.gif';
$nataliaGif: '/assets/gif/natalia.gif';
$mapImg: '/assets/images/screen-map/map.png';
$warner: '/assets/images/screen-map/warner.png';

$selectMovies: '/assets/images/page-select-movie/movies.png';

// page-nav
$navSize: 6px;

//Box-shadow
$box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);


//Fonts

$basefont: "Roboto Condensed", sans-serif;
$fontGeorgia: "Georgia", sans-serif;