<div class="wrapper" (keydown.enter)="sliderUp($event)">
    <app-header></app-header>
    <app-popup></app-popup>
    <div class="mouse-btn" (click)="moveSliderDown()"><img [src]="mouse" alt=""></div>
    <div id="content-wrapper" [mnFullpage]="options" [mnFullpageNavigationPosition]="'left'"
         [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="false" mnFullpageSlidesNavPosition="bottom">
        <div class="section fp-section fp-table" id="#mainPage">
            <div class="animated animated--main">
                <div id="screen-1">
                    <app-main-page></app-main-page>
                </div>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="animated animated--warner">
                <div id="warner">
                    <app-warner-page></app-warner-page>
                </div>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="animated animated--second">
                <div id="screen-2">
                    <app-second-page></app-second-page>
                </div>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="animated animated--third">
                <div id="screen-3">
                    <app-page-sheduler></app-page-sheduler>
                </div>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div id="screen-4">
                <app-gallery></app-gallery>
            </div>
        </div>
        <div class="section fp-noscroll">
            <div class="animated" [ngClass]="educatorGif | async">
                <div id="screen-5">
                    <app-page-five></app-page-five>
                </div>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div id="select-movies">
                <app-page-select-movies></app-page-select-movies>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div id="screen-6">
                <app-comment></app-comment>
            </div>
        </div>
        <div class="section fp-section fp-table">
            <div class="animated animated--seven">
                <div id="screen-7">
                    <app-pages-seven></app-pages-seven>
                </div>
            </div>
        </div>
        <!--        <div class="section fp-section fp-table">-->
        <!--            <div class="animated animated&#45;&#45;eight">-->
        <!--                <div id="screen-8">-->
        <!--                    <app-page-calendar></app-page-calendar>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="section fp-section fp-table">
            <div class="animated">
                <div id="screen-9">
                    <app-page-map></app-page-map>
                </div>
            </div>
        </div>
    </div>
</div>
