<div class="page-container">
    <div class="page-block page-block--main">
        <div class="left left--first">
            <div class="left__item">
                <img [src]="store.line" alt="line">{{first}}
            </div>
            <div class="left__item">Хорошее кино &mdash;<br>лучший учебник!</div>
            <div class="left__item">Чтобы заговорить по-английски, учитесь смотреть фильны на языке оригинала.</div>
            <img class="cameraman" [src]="man" alt="CameraMan">
        </div>
        <div class="right right--first">
            <div class="right__back" *ngFor="let item of slogan">
                <div class="text-container" [innerHTML]="item.title"></div>
            </div>
        </div>
    </div>
</div>
