.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  h2 {
    @include setMediaMax($size_480) {
      font-size: 22px;
    }
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }

  input, textarea {
    @include setMediaMax($size_480) {
      height: 35px;
    }
    max-width: 480px;
    width: 100%;
    height: 45px;

    border-radius: 8px;
    border: none;

    margin-bottom: 20px;
    padding: 0 15px;
    resize: none;

    box-sizing: border-box;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }

  textarea {
    @include setMediaMax($size_480) {
      height: 35px;
      padding: 7px 15px;
    }
    padding: 15px;
    height: 50px;
  }
}

.formBtn {
  width: 250px;
  height: 45px;

  border-radius: 10px;
  margin: 10px 0;

  text-align: center;
  font-size: 18px;

  background-color: #000000;
  color: #000000;
  border: none;

  &--active {
    background-color: white;
    cursor: pointer;
  }
}

.formBtn, input, textarea {
  outline: none;
  user-select: none;
}

.paybtn {
  max-width: 150px !important;
}

.send-complete {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;

  h2, p {
    @media screen and (max-width: 320px) {
      font-size: 18px;
    }
    width: 100%;
    text-align: center;
    min-height: 50px;
    font-size: 30px;
  }
}