//// Header
.header-inner {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.header {
    @media (max-width: 1600px) {
        padding: 20px 0 0 0;
    }
    @include setMediaMax($size_600) {
        margin: 0 25px;
    }
    @media only screen and (max-width: 480px) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    margin: 0 50px;
    padding: 50px 0 0 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1290px;
    width: 100%;
    height: auto;
    max-height: 100px;

    .logo, .sign-up-btn {
        cursor: pointer;
    }

    .logo {
        @media (orientation: landscape) and (max-width: 896px) and (min-width: 740px) and (max-height: 480px) {
            width: 170px;
        }
        @media (max-width: 823px) {
            width: 170px;
            margin: 0;
        }
        @media (max-width: 550px) {
            width: auto;
            margin-right: 15px;
        }

        width: 236px;
        height: auto;
    }

    .sign-up-btn {
        position: relative;
        text-transform: uppercase;
        max-width: 300px;
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        &__img, &__title {
            display: inline-block;
            user-select: none;
        }

        &__img {
            @media (max-width: 450px) {
                width: 10px;
                height: 10px;
            }
            width: 21px;
            height: 21px;
            margin-right: 10px;

            border-radius: 50%;
            background-color: grey;
        }

        &__title, &__title:empty {
            @include setMediaMax($size_600) {
                max-width: 105px;
            }
            @media (max-width: 480px) {
                font-size: 12px;
                letter-spacing: normal;
            }
            @media (max-width: 320px) {
                font-size: 10px;
            }
            width: auto;
            height: auto;

            font-family: $basefont;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.8px;

            & + span {
                background-color: red;
                transition: .1s ease-out;
            }

            &:hover + span {
                box-shadow: $box-shadow;
            }
        }
    }
}