.page-nav {
  @mixin setNavSize($size) {
    width: $size;
    height: $size;
  }
  position: absolute;
  top: 40%;
  left: 22%;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      @include setNavSize($navSize);
      margin-bottom: 8px;
      background-color: grey;
      border-radius: 50%;

      cursor: pointer;

      &:first-child {
        background-color: red;
        @include setNavSize(8px);
        box-shadow: $box-shadow;
      }
    }
  }
}