app-section-header {
  width: inherit;
}

.section-header-wrapper {
  @media (orientation: landscape) and (max-width: 823px) and (max-height: 375px) {
    display: none;
  }
  display: flex;
  align-items: center;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  &__icon {
    margin-right: 10px;
    max-width: 20%;
    height: 3px;
  }

  &__name {
    @media (max-width: 1024px) {
      font-size: 5vw;
    }
    @media (max-width: 375px) {
      font-size: 6vw;
    }
    font-family: "Georgia", sans-serif;
    font-size: 48px;
  }
}
