.scheme {
  &__image {
    @media (max-width: 450px) {
      width: 90%;
      height: 200px;
    }
    @media (max-width: 450px) {
      margin-bottom: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 365px;
    margin-bottom: 30px;
  }

  &__title {
    @media (max-width: 375px) {
      font-size: 18px;
    }
    @media (max-width: 450px) {
      margin-bottom: 10px;
    }
    font-family: "Georgia", sans-serif;
    @include setFontParams(27px, 400);
    margin-bottom: 20px;

    .index {
      color: #ff6d00;
      font-size: 23px;
    }
  }

  &__text {
    @media (max-width: 375px) {
      font-size: 16px;
      max-width: 320px;
    }
    @media (max-width: 320px) {
      font-size: 14px;
      max-width: 260px;
    }
    font-family: $defaultFont;
    @include setFontParams(18px, 300);
    max-width: 470px;
    height: auto;
    width: 100%;
  }
}