<div class="section-header">
    <div class="section-header-wrapper">
        <img class="section-header__icon" [src]="icon" alt="">
        <div class="section-header__name" [innerHtml]="sectionName"></div>
    </div>
</div>