<div class="page-container educator">
    <div class="educator-inner">
        <div class="inner-nav" role="navigation">
            <span class="btn-back" (click)="goBack.emit(true)">Назад</span>
            <ul class="inner-nav__list">
                <li class="list-item" [ngClass]="setActiveItem(item.index)" *ngFor="let item of avatars"
                    (click)="setSlideItem(item)"><img [src]="item.img" alt=""></li>
            </ul>
        </div>
        <div class="inner-main">
            <span class="btn-back" (click)="goBack.emit(true)">Назад</span>
            <div class="content">
                <div class="element" [@bounce]="bounce">
                    <div class="element-area">
                        <div class="element__name" [innerText]="instructor.name"></div>
                        <div class="element__desc" [innerHTML]="instructor.desc"></div>
                        <div class="element__link" (click)="showPopup()">Подробнее</div>
                    </div>
                </div>
                <img class="content__avatar" [src]="avatars[position].img">
            </div>
            <div class="video" (click)="openVideo()" *ngIf="checkIsHasVideo()">
                <span class="video__title">Смотреть видео</span>
                <img class="video__image" [src]="store.education.videoImg">
            </div>
        </div>
    </div>
</div>