<ng-template [ngIf]="!isComplete" [ngIfElse]="complete">
    <div class="form">
        <h2>Записаться на обучение</h2>
        <form class="form" [formGroup]="form" novalidate>
            <img class="cameraman cameraman--form" [src]="man" alt="CameraMan">
            <input formControlName="pa_full_name" type="text" placeholder="Ваше ФИО:" required>
            <input formControlName="pa_email" type="email" placeholder="Ваш email:" required>
            <input formControlName="pa_phone" type="text" [imask]="{mask: '8(000)000-00-00'}"
                   placeholder="8(921)921-21-21" required>
            <textarea formControlName="A4FF49A3375D9AE4" placeholder="Дополнительная информация"></textarea>
        </form>
        <button [ngClass]="form.valid ? 'formBtn formBtn--active' : 'formBtn'" [disabled]="form.invalid"
                (click)="sendDataForm()">Отправить
        </button>
    </div>
</ng-template>

<ng-template #complete>
    <div class="send-complete">
        <h2>Ваша заявка успешно добавлена.</h2>
        <p>Мы свяжемся с Вами в ближайшее время!</p>
    </div>
</ng-template>