<div class="page-container content-box">
    <div class="calendar-container">
        <div class="page-container-name"><span class="rectangle">Ближайшие сеансы</span></div>
        <div class="calendar">
            <div class="calendar-navs">
                <div class="month-nav">
                    <img [src]="arrowIcon" class="arrow arrow--left" (click)="prevMonth()">
                    <span class="p4">{{currentDate.format('MMMM')}} {{currentDate.format('YYYY')}}</span>
                    <img [src]="arrowIcon" class="arrow" (click)="nextMonth()">
                </div>
            </div>
            <div class="month-grid">
                <div class="day-names">
                    <div *ngFor="let name of dayNames" class="day-name p9" [innerText]="name"></div>
                </div>
                <div class="weeks">
                    <div *ngFor="let week of weeks" class="week">
                        <ng-container *ngFor="let day of week">
                            <div class="week-date" *ngIf="!isSelectedMonth(day.mDate)">
                                <!--Предыдущий месяц-->
                                <div #area class="hover-area" (mouseenter)="showDetail($event)">
                                    <span class="date-text" [innerText]="day.mDate.date()"></span>
                                    <ng-container [ngTemplateOutlet]="checkDetailDay(day) ? eventsElm: null"
                                                  [ngTemplateOutletContext]="{day:day, area: area}"></ng-container>
                                </div>
                            </div>
                            <div class="week-date enabled" *ngIf="isSelectedMonth(day.mDate)"
                                 [ngClass]="{today: day.today, selected: day.selected, regular: regularEvents(day), events: checkEventsDate(day)}">
                                <div #area class="hover-area" (mouseenter)="showDetail($event)">
                                    <span class="date-text" [innerText]="day.mDate.date()"></span>
                                    <ng-container [ngTemplateOutlet]="checkDetailDay(day) ? eventsElm: null"
                                                  [ngTemplateOutletContext]="{day:day, area: area}">
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #eventsElm let-day="day" let-area="area">
        <div class="eventsBlock">
            <div class="eventsBlock__close" (click)="closeDetail(area)">
                <img class="img-fly" [src]="store.calendar.close" alt="close">
            </div>
            <div class="eventsBlock__area">
                <div class="eventsBlock__name" [innerText]="getRegular(day)" (click)="regularClick(day)"></div>
                <div class="eventsBlock__name" [innerText]="getEventsName(day)" (click)="selectDate(day)"></div>
            </div>
        </div>
    </ng-template>
</div>
