.educator {
    display: flex;
    align-items: center;
    width: 100%;

    .educator-inner {
        display: flex;

        width: 100%;
        min-height: 700px;

        .inner-nav {
            @media (max-width: 414px) {
                position: fixed;
                z-index: 100;
                max-width: 350px;
                width: 100%;
                height: auto;
                bottom: 22%;

                & > .btn-back {
                    display: none;
                }
            }
            @media (max-width: 375px) {
                width: 45%;
                bottom: 17%;
            }
            width: 80px;
            height: 500px;
            margin-top: 40px;

            &__list {
                @media (max-width: 414px) {
                    flex-direction: row;
                    justify-content: space-evenly;
                    height: auto;
                }
                @media (max-width: 320px) {
                    max-width: 280px;
                }
                @include flexColumAllCenter();

                list-style: none;
                max-height: 640px;
                height: 530px;
                box-sizing: border-box;

                .list-item {
                    @media (min-width: 1366px) {
                        width: 80px;
                        height: 80px;

                        min-height: 80px;
                    }
                    @media (max-width: 414px) {
                        margin-bottom: 0;
                    }

                    display: flex;
                    position: relative;
                    width: 65px;
                    height: 65px;
                    min-height: 65px;

                    margin-bottom: 40px;
                    border-radius: 50%;

                    overflow: hidden;
                    cursor: pointer;

                    object-fit: contain;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    & > img {
                        width: inherit;
                        height: inherit;
                    }
                }

                .active-link {
                    border: 5px solid orange;
                }
            }
        }

        .btn-back {
            display: block;
            text-transform: uppercase;
            font-family: $defaultFont;
            position: relative;
            margin: 0 25px;
            font-size: 16px;
            cursor: pointer;

            &:before {
                content: url($arrowBack);
                position: absolute;
                width: 20px;
                height: 20px;
                left: -25px;
            }
        }

        .inner-main {
            @media(max-width: 1024px) {
                //border: 1px dashed white;
            }
            @media(max-width: 414px) {
                width: 90%;
                height: 80%;

                & > .btn-back {
                    display: block;
                }
            }
            @media(max-width: 320px) {
                width: 100%;
            }
            position: relative;
            width: 100%;
            height: auto;

            & > .btn-back {
                display: none;
            }

            & .content {
                @media (max-width: 414px) {
                    padding: 0;
                }
                @media (max-width: 320px) {
                    padding-right: 25px;
                    padding-top: 0;
                }
                position: relative;
                display: flex;
                justify-content: flex-end;
                height: auto;
                padding-right: 46px;
                //padding-top: 40px;

                &__avatar {
                    @media (max-width: 414px) {
                        max-width: 100px;
                        top: -15px;
                        right: 0;
                    }
                    @media (max-width: 375px) {
                        top: -5px;
                        right: 0;
                    }
                    @media (max-width: 320px) {
                        top: 28px;
                        right: 25px;
                    }
                    position: absolute;
                    top: 10px;
                    right: 52px;
                    max-width: 200px;
                    max-height: 200px;
                    height: 100%;

                    border-radius: 50%;

                    overflow: hidden;
                    object-fit: cover;
                }
            }
        }
    }
}

.video {
    @media (max-width: 414px) {
        bottom: -55px;
    }
    @media (max-width: 320px) {
        display: none;
    }
    position: absolute;
    bottom: 100px;
    right: 30px;
    width: 210px;
    height: 85px;
    z-index: 1000;

    @include setFontParams(20px, 400);
    font-family: $defaultFont;
    font-style: italic;
    cursor: pointer;

    &__image {
        margin-left: 5px;
    }
}

.element {
    @media(max-width: 414px) {
        height: 300px;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    width: 592px;
    height: 550px;

    background: url($backBuble) center center no-repeat;
    background-size: contain;

    .element-area {
        @media(max-width: 414px) {
            width: auto;
            height: 220px;
            padding: 0;
        }
        @media (max-width: 320px) {
            height: 180px;
        }
        width: 400px;
        height: 350px;
        padding: 0 0 0 35px;

    }

    &__name {
        @media (max-width: 414px) {
            max-width: 190px;
            font-size: 4vw;
            height: auto;
        }
        max-width: 330px;
        height: 90px;
        margin: 15px 0;

        text-transform: uppercase;
        font-family: $defaultFont;
        @include setFontParams(39px, 700);
    }

    &__desc {
        @media (max-width: 414px) {
            font-size: 11px;
            width: 200px;
            height: 105px;
            line-height: normal;
        }
        max-height: 200px;
        overflow: hidden;
        @include setFontParams(21px, 400);
        line-height: 28px;
    }

    &__link {
        font-size: 20px;
        letter-spacing: 1px;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
            text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px
        }
    }
}