.gallery .content-block {
  background: url($bgGallery) center center no-repeat;
  height: 80% !important;
}

.rectangle {
  position: relative;

  &:before {
    @media (max-width: 450px) {
      top: 24% !important;
    }
    @include addRectangleIcon();
    top: 16px;
    left: -50px;
  }
}
