.wrapper {
    position: relative;
    height: 100%;
    background-color: black;
}

// -------------------------------------------------------------------------------------------------------------------//
/** Slider */
.section {
    background-color: black;
    position: relative;

    &:before, &:after {
        @media (max-width: 1600px) {
            width: 30px;
        }
        @media (max-width: 768px) {
            width: 15px;
        }
        position: absolute;
        content: '';
        width: 100%;
        height: 99%;
        max-width: 25px;
        z-index: 50;
        background-color: black;
        top: -1px;
    }

    &:after {
        background: url($rightPatt) repeat-y center center;
        background-size: contain;
        right: 0;
    }

    &:before {
        background: url($leftPatt) repeat-y center center;
        background-size: contain;
        left: 0;
    }
}

.fp-tableCell {
    position: relative;
    z-index: 10;
    vertical-align: top !important;
}

#fp-nav.fp-left {
    @media (max-width: 1440px) {
        left: 35px !important;
    }
    @media (max-width: 850px) {
        left: 15px !important;
    }

    left: 50px !important;

    a span {
        background-color: #858383;
    }

    .active span {
        background-color: red;
    }
}

// -------------------------------------------------------------------------------------------------------------------//
/** Шум */
#screen-1, #warner, #screen-2, #screen-3, #screen-4, #screen-5, #screen-6, #screen-7, #screen-8, #screen-9, #select-movies {
    background-size: cover;
    position: relative;
    z-index: 100;
    height: inherit;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: auto;
        right: auto;
        bottom: auto;
    }
}

#screen-6 {
    @media (max-width: 320px) {
        align-items: flex-start;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

#screen-9 {
    background: url($mapImg) center center no-repeat;
    background-size: cover;
    z-index: 10;
}

// -------------------------------------------------------------------------------------------------------------------//
/** Анимация на заднем фоне */
.animated {
    z-index: 0;
    height: inherit;

    &--main {
        @include setBackgroundGif($firstGif);
    }

    &--second {
        @include setBackgroundGif($secondGif);
    }

    &--third {
        @include setBackgroundGif($thirdGif);
    }

    &--five {
        @include setBackgroundGif($fiveGif);
    }

    &--six {
        @include setBackgroundGif($sixGif);
    }

    &--seven {
        @include setBackgroundGif($sevenGif);
    }

    &--eight {
        @include setBackgroundGif($eightGif);
    }

    &--polina {
        @include setBackgroundGif($polinaGif);
    }

    &--natalia {
        @include setBackgroundGif($nataliaGif);
    }

    &--warner {
        @include setBackgroundGif($warner);
    }

    &:after {
        position: absolute;
        content: ' ';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, .85);
    }
}

// -------------------------------------------------------------------------------------------------------------------//
/** страницы */
.page-container {
    @media (max-width: 768px) {
        padding: 15px;
    }
    @include wrapper();
    height: inherit;
}

.mouse-btn {
    @media (max-width: 414px) {
        left: 45%;
    }
    @media (max-width: 834px) {
        display: none;
    }
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    position: absolute;
    bottom: 5%;
    left: calc(100% / 2 - #{15px});
    z-index: 100;

    border-radius: 50%;
    cursor: pointer;
}

.simple-link {
    font-size: 22px;
}

.page-container-name {
    @media (max-width: 768px) {
        font-size: 6vw;
    }
    @media (max-width: 450px) {
        font-size: 6vw;
    }

    padding-bottom: 5px;
    position: relative;
    color: white;
    width: 100%;
    height: auto;
    display: flex;

    justify-content: center;
    font-family: "Georgia", sans-serif;
    font-size: 48px;

    .rectangle {
        @media (max-width: 450px) {
            padding-left: 40px;
        }
        position: relative;
        padding-left: 60px;

        &:before {
            @media (max-width: 768px) {
                top: 35%;
            }
            @media (max-width: 450px) {
                width: 20px;
                top: 14%;
            }
            @include addRectangleIcon();
            top: 22px;
            left: 0;
        }
    }
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    &--method {
        @media (orientation: landscape) and (max-width: 834px) and (min-width: 320px) and (max-height: 414px) {
            flex-wrap: nowrap;
        }
        align-items: center;
        min-height: 80%;
        max-height: 700px;
    }
}

.cameraman {
    @media screen and (min-width: 769px) {
        right: -15%;
        display: block;
    }
    @media screen and (max-width: 1366px) {
        right: 5%;
    }
    @media screen and (min-width: 768px) and (max-width: 768px) {
        right: 5%;
        display: block;
    }
    display: none;
    position: absolute;
    height: 150px;
    bottom: 0;

    &--form {
        @media screen and (max-width: 860px) {
            top: -85px;
            left: -35px;
        }
        top: 0;
        left: 0;
        display: block;
        transform: scale(-1, 1);
    }
}

.left {
    @media (max-width: 1024px) {
        width: 100%;
    }
    @media (max-width: 450px) {
        height: initial;
    }
    @media (max-width: 375px) {
        width: 100%;
        height: 300px;
    }
    display: flex;
    flex-direction: column;
    height: 550px;
    user-select: none;

    &--first {
        @media(max-width: 1366px) {
            width: 100%;
            max-height: 500px;
            align-items: center;
        }
        @media (orientation: landscape) and (max-width: 896px) and (min-width: 740px) and (max-height: 480px) {
            height: 250px;
        }
        @media (orientation: landscape) and (max-width: 960px) and (min-width: 960px) and (min-height: 600px) {
            height: 420px;
        }
        @media (orientation: landscape) and (max-width: 846px) and (min-width: 740px) and (max-height: 414px) {
            height: 200px;
        }
        @media (orientation: landscape) and (max-width: 823px) and (min-width: 823px) and (max-height: 414px) {
            height: 250px;
        }
        @media (orientation: landscape) and (max-width: 736px) and (min-width: 568px) and (max-height: 414px) {
            height: 200px;
        }
        @media (orientation: landscape) and (max-width: 568px) and (min-width: 480px) and (max-height: 414px) {
            height: 180px;
        }

        position: relative;
    }

    &--second {
        @media(max-width: 1366px) {
            padding-top: 0 !important;
            width: 100%;
            height: auto;
            flex-direction: row;
            justify-content: center;
        }
        @media (max-width: 768px) {
            margin: 15px 5px;
        }
        @media(max-width: 375px) {
            padding-top: 20px;
        }
        @media(max-width: 320px) {
            padding-top: 0;
            margin-top: 30px;
        }

        height: 50%;
        padding-top: 0 !important;
    }

    &__item {
        display: flex;
        align-items: center;

        span {
            display: inline-block;
        }
    }

    &__item:nth-child(1) {
        @media (max-width: 375px) {
            font-size: 2.7vw;
            padding-bottom: 15px;
        }
        @media (orientation: landscape) and (max-width: 960px) and (min-width: 960px) and (min-height: 600px) {
            padding: 15% 0 0 0;
        }
        @media (orientation: landscape) and (max-width: 896px) and (min-width: 740px) and (max-height: 480px) {
            padding: 7% 0 0 0;
        }
        @media (orientation: landscape) and (max-width: 823px) and (min-width: 823px) and (max-height: 414px) {
            padding-top: 55px;
        }
        @media (orientation: landscape) and (max-width: 736px) and (min-width: 480px) and (max-height: 414px) {
            padding-top: 45px;
            padding-bottom: 0;
        }
        padding-top: 112px;
        padding-bottom: 37px;

        @include setFontParams(14px, 500);
        text-transform: uppercase;
        letter-spacing: 0.1rem;

        img {
            @media (max-width: 375px) {
                width: 30px;
            }
            width: 42px;
            margin-right: 20px;
        }
    }

    &__item:nth-child(2) {
        @media (max-width: 1024px) {
            font-size: 8vw;
            height: auto;
            padding-bottom: 15px;
        }
        @media (max-width: 375px) {
            font-size: 8vw;
            width: 100%;
            padding: 0;
        }
        @media (max-width: 320px) {
            font-size: 8vw;
        }
        @media (orientation: landscape) and (max-width: 896px) and (min-width: 480px) and (max-height: 414px) {
            font-size: 5vw;
            padding: 0;
            margin: 15px 0;
        }

        font-family: "Georgia", sans-serif;
        font-size: 80px;
        height: 230px;
        margin-bottom: 30px;
    }

    &__item:nth-child(3) {
        @media (max-width: 1024px) {
            max-width: 500px;
            text-align: center;
        }
        @media (max-width: 375px) {
            font-size: 3vw;
        }
        @media (orientation: landscape) and (max-width: 896px) and (min-width: 480px) and (max-height: 414px) {
            font-size: 14px;
        }

        font-family: $basefont;
        font-weight: 400;
        font-size: 18px;
    }

}

.right {
    @media (max-width: 1366px) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 0;
    }

    &--second {
        @media(max-width: 1366px) {
            height: auto !important;
        }
        @media(max-width: 1024px) and (min-width: 1024px) {
            flex-direction: row !important;
        }
        @media (orientation: portrait) and (max-width: 1024px) {
            flex-wrap: wrap;
        }
        @media (orientation: landscape) and (max-width: 834px) {
            flex-direction: column;
        }
        @media(max-width: 375px) {
            align-items: flex-start !important;
            padding-left: 10px;
        }
    }

    &__back {
        @media (max-width: 375px) {
            width: 90px;
        }
        @media (orientation: landscape) and (max-width: 896px) and (min-width: 896px) and (max-height: 414px) {
            width: 245px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 135px;
        margin-bottom: 80px;

        background: url($lourels) no-repeat center center;
        background-size: contain;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & .text-container {
        @media (max-width: 1366px) {
            min-width: 70px;
            max-width: 75%;
            font-size: 1.4vw;
            line-height: normal;
        }
        display: flex;
        align-items: center;
        text-align: center;

        max-width: 215px;
        height: auto;

        font-size: 20px;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase;
    }

    width: 300px;
    height: auto;
    margin-top: 7%;
}

.text-frame__name {
    font-family: "Georgia", sans-serif;
}

.content-box {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;

    //border: 1px dashed red;
    height: 100%;
    z-index: 100;

    &--seven {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: initial;
        z-index: 100;
    }

    &--contacts {
        @media (orientation: landscape) and (max-width: 823px) {
            height: 100%;
        }
        justify-content: flex-end;
        height: 75%;
    }

    &--movies {
        flex-direction: row;
        justify-content: space-between;
    }
}

// Font family
.text-link,
.text-block,
.text-frame__desc {
    font-family: $basefont;
}

// -------------------------------------------------------------------------------------------------------------------//
.page-block {
    position: relative;
    max-height: 600px;
    height: 100%;

    &__title {
        @media (max-width: 375px) {
            width: 90%;
            font-size: 30px;
        }

        @media (max-width: 320px) {
            font-size: 25px;
        }

        font-family: "Georgia", sans-serif;
        width: 200px;
        margin-bottom: 30px;
        @include setFontParams(46px, 400);

        &:before {
            @media (max-width: 375px) {
                width: 20px;
                height: 20px;
                left: -25px;
                top: 9px;
            }
            @media (max-width: 320px) {
                font-size: 25px;
            }

            @include addRectangleIcon();
            left: -65px;
            top: 15px;
        }
    }

    &__meta {
        @media (max-width: 375px) {
            font-size: 14px;
            max-width: 250px;
        }
        @include setFontParams(20px, 400);
        max-width: 340px;
    }

    &__button {
        padding: 10px 0;
        cursor: pointer;
    }

    &--main {
        @media (max-width: 1024px) {
            max-height: 70% !important;
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        margin: 0 30px;
    }

    //-----------------------------------------------------
    &--educator, &--gallery, &--sheduler, &--main {
        height: 100vh;
        max-height: initial;
    }

    &--educator {
        display: flex;
        align-items: center;

        & .page-container-name {
            @media (max-width: 450px) {
                font-size: 30px;
                padding-top: 35px;

                & .rectangle {
                    padding-left: 40px;

                    &:before {
                        width: 30px;
                        top: 7px;
                    }
                }
            }
            @media (max-width: 320px) {
                font-size: 24px;
                margin-top: 40px;
            }
        }

        .fp-slides {
            height: initial !important;
        }
    }

    //-----------------------------------------------------
    // Галерея
    &--gallery {
        @media (max-width: 450px) {
            height: 45vh;
        }
        width: 100%;
        height: 78vh;
        background: url($bgGallery) center center no-repeat;
        background-size: contain;

        & .page-container-name {
            @media (max-width: 450px) {
                margin-top: 75px;
            }
            margin-top: 120px;
        }
    }

    //-----------------------------------------------------
    // Расписание
    &--sheduler {
        display: flex;
        align-items: center;

        & .container {
            padding-bottom: 40px;
        }

        & .slide {
            display: flex;
            align-items: flex-start;
            max-width: 500px;
            height: 500px !important;
            overflow: auto !important;
            padding: 0 20px;
        }

        & .video {
            bottom: 60px;
        }
    }

    //-----------------------------------------------------
    &--info {
        @media (max-width: 700px) {
            max-width: 75%;
        }
        @media (max-width: 375px) {
            padding: 60px 0 0 60px;
        }
        @media (max-width: 320px) {
            padding: 60px 0 0 30px;
        }
        max-width: 30%;
        min-width: 280px;
        //border: 1px dashed green;
        padding: 60px 0 0 75px;
        flex-grow: 1;
    }

    //-----------------------------------------------------
    &--media {
        @media (max-width: 700px) {
            display: none;
        }
        width: 100%;
        min-width: 300px;

        background: url($selectMovies) center center no-repeat;
        background-size: contain;
    }

    //-----------------------------------------------------
    & .container-box {
        position: relative;
    }

}


.btn-sheduller {
    @media (max-width: 600px) {
        display: none;
    }

    max-width: 230px;
    width: 100%;

    height: 40px;

    border: transparent;
    border-radius: 4px;

    background-color: #ff6d00;
    color: white;

    font-family: cursive;
    font-size: 22px;

    margin: 50px 0 0 0;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:active {
        background-color: darken(#ff6d00, 5%);
    }

}