$dayBase: 30px;
$dayBase: 30px;
$cloud: '#ccc';
$base: 5px;
$concrete: '#fff';
$seafoam: 'blue';
$white: '#fff';
$teal: 'black';
$disableColor: gray;

.page-calendar {
  height: 100%;
  color: white;
}

.calendar-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .page-container-name {
    @media (max-width: 424px) {
      margin-top: 70px !important;
    }
    @media (max-width: 320px) {
      margin-top: 35px !important;
    }
    padding: 15px 0;
  }
}

.arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 20px;
  user-select: none;

  &--left {
    transform: rotate(180deg);
  }

}

.calendar {
  @media(max-width: 375px) {
    height: 600px;
  }

  display: block;
  margin: 0 auto;
  max-width: 810px;
  width: 100%;

  max-height: 640px;
  height: 100%;

  * {
    box-sizing: border-box;
  }

  .month-nav,
  .year-nav {
    font-family: 'Roboto Condensed', sans-serif;
    @include setFontParams(24px, 400);
  }

  .month-nav {
    @media(max-width: 375px) {
      height: 50px;
      font-size: 22px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    text-transform: capitalize;

    .p4 {
      width: 165px;
      text-align: center;
    }
  }

  .year-nav {
    padding: $base;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .month-grid {
    .day-names {
      display: flex;
      flex-direction: row;
      background: $concrete;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-bottom: 25px;
    }

    .weeks {
      display: flex;
      flex-direction: column;
    }

    .week {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
    }

    .week-date,
    .day-name {
      @media(max-width: 840px) {
        width: 90%;
        height: 30px;
      }
      @media(max-width: 425px) {
        width: 50px;
      }
      @media(max-width: 375px) {
        width: 40px;
        max-height: 25px;
      }
      text-align: center;
      padding: $base;
      display: flex;
      justify-content: center;
      align-items: center;
      @include setFontParams(18px, 400);
      width: 120px;
      max-height: 60px;
      position: relative;
    }

    .week-date {
      @media(max-width: 840px) {
        height: 35px;
      }
      height: 50px;
      position: relative;
      user-select: none;

      .date-text {
        @media(max-width: 375px) {
          font-size: 20px;
        }
        z-index: 10;
        font-size: 22px;
        font-family: "Roboto Condensed", sans-serif;
      }

      &::after {
        content: '';
        height: $dayBase * 0.9;
        width: $dayBase * 0.9;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: background-color 150ms linear, color 150ms linear;
        z-index: 1;
      }

      &.enabled {
        //cursor: pointer;

        &:hover {
          //&:after {
          //  background-color: $seafoam;
          //}
        }
      }

      &.selected {
        color: $white;

        &:after {
          background-color: $teal;
        }

        &:hover {
          &:after {
            background-color: $teal;
          }
        }
      }

      &.disabled {
        color: $disableColor;
        opacity: .4;
      }

      .events:after:hover {
        & .eventsBlock {
          transition: opacity .3s ease-out;
          opacity: 1;
          visibility: visible;
        }

        &:after {
          background-color: rgba(lavender, .2);
        }
      }

      &.events {
        font-weight: bold;
        position: relative;
        cursor: pointer;

        &:after {
          @media (max-width: 376px) {
            width: 35px;
            height: 35px;
          }
          width: 50px;
          height: 50px;
          border: 2px solid red;
          border-radius: 50%;
        }
      }

      &.regular {
        @extend .events;
        opacity: 1;
        color: white;

        &:after {
          border: 2px solid green !important;
        }
      }

      &.future {
        @extend .events;
        opacity: 1;
        color: white;
        cursor: pointer;

        &:after {
          border: 2px solid red !important;
        }
      }
    }

    .eventsBlock {
      @media screen and (max-width: 600px) {
        width: 180px;
        height: 70px;
        bottom: -100px;
      }
      opacity: 0;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      visibility: hidden;
      font-size: 14px;

      width: 270px;
      height: 100px;

      bottom: -110px;
      left: auto;

      background-color: white;
      z-index: 25;
      padding: 10px 10px 15px 10px;

      border-radius: 10px;
      box-shadow: 0 0 10px 0 #C1C1C1;

      &__area {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      &__close {
        width: 100%;
        text-align: right;
        cursor: pointer;
        position: relative;

        & img {
          position: absolute;
          width: 12px;
          height: 12px;
          right: 0;
          top: -8px;
        }
      }

      &__name {
        padding-bottom: 4px;

        text-align: left;
        color: black;
        text-transform: uppercase;


        &:hover {
          text-decoration: underline;
        }
      }

      &__detail {
        color: #727272;
      }
    }

    .hover-area {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: relative;

      &--detail {
        .eventsBlock {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .today {
      font-weight: bold;
    }
  }
}
