
.page-container-table {
  min-height: 400px;
}

.comments {
  @media (max-width: 434px) {
    padding-top: 50px;
  }
  @media (max-width: 414px) {
    max-width: 80%;
  }
  @media (max-width: 360px) {
    padding-top: 50px;
  }
  @media (max-width: 320px) {
    padding-top: 0;
  }

  * {
    user-select: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;

  .comments-container {
    @media (max-width: 1366px) {
      padding: 0 30px;
    }
    @media (max-width: 1024px) {
      height: auto;
    }
    @media (max-width: 414px) {
      max-height: 500px;
      flex-wrap: wrap;
      padding: 15px 0;
    }
    @media (max-width: 320px) {
      flex-wrap: nowrap;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    padding: 30px 0;

    &__left, &__right {
      @media (min-width: 1024px) and (max-width: 1024px) {
        max-width: 80%;
        height: 450px;
      }
      @media (max-width: 768px) {
        height: 320px;
      }
      @media (max-width: 414px) {
        height: 300px;
      }
      @media (max-width: 375px) {
        height: 230px;
      }
      flex-grow: 1;
      display: flex;
      align-items: center;
      max-width: 530px;
      height: 465px;
      flex-wrap: wrap;

      &:first-child, &:last-child {
        @media (max-width: 1024px) {
          margin: 0 0 10px 0;
        }
        @media (max-width: 414px) {
          max-height: 240px;
        }
        @media (max-width: 320px) {
          max-height: 200px;
        }
        margin-right: 35px;
      }
    }

    .comments-group {
      @media (max-width: 1024px) {
        padding: 0 25px;
      }
      @media (max-width: 414px) {
        margin-bottom: 15px;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      &__image {
        @media (max-width: 414px) {
          margin-bottom: 5px;
        }
        margin-bottom: 15px;
      }

      &__author {
        @media (max-width: 320px) {
          font-size: 12px;
        }
        max-width: 170px;
        padding-bottom: 10px;
        font-family: $fontGeorgia;
        font-style: italic;
        position: relative;

        &:after {
          content: '';
          left: 0;
          bottom: 2px;
          position: absolute;
          width: 65px;
          border-bottom: 2px solid red;
        }
      }
    }
  }

  &__image {
    &:after {
      @include addRectangleIcon();
    }
  }

  &__prof,
  &__family {
    letter-spacing: -.3px;
  }

  &__prof {
    font-family: $basefont;
    font-size: 30px;
    text-align: right;
    width: 280px;
    margin-right: 50px;
  }

  &__family {
    display: flex;
    align-items: center;
    font-family: $basefont;
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
  }
}

.page-container-table {
  @media (max-width: 450px) {
    justify-content: flex-start;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.list {
  @media (max-width: 450px) {
    width: auto;
    margin-bottom: 0;
  }
  @media (max-width: 414px) {
    height: 60px;
  }
  display: flex;
  align-items: center;
  width: 667px;
  height: 70px;
  margin-bottom: 26px;

  &__image {
    &:after {
      @include addRectangleIcon();
    }
  }

  &__prof,
  &__family {
    @media (max-width: 768px) {
      //border: 1px dashed white;
    }
    @media (max-width: 450px) {
      font-size: 4vw;
    }
    font-size: 30px;
  }

  &__prof {
    @media (max-width: 768px) {
      max-width: 285px;
    }
    @media (max-width: 450px) {
      margin-right: 15px;
      width: 50%;
      font-size: 4vw;
    }
    font-family: $basefont;
    text-align: right;
    width: 280px;
    margin-right: 50px;
  }

  &__family {
    display: flex;
    align-items: center;
    font-family: $basefont;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      text-shadow: 0 -1px 4px #FFF, 0 -2px 4px #84796d, 0 -10px 10px #84796d, 0 -18px 40px
    }
  }
}
