$bgPageImage: '/assets/images/page-seven/ticket.png';

.page-pictures-block {
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    flex-wrap: wrap;
  }
  display: flex;
  justify-content: space-around;

  .pic-box {
    @media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 190px;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 375px) {
      height: 190px;
    }
    @media only screen and (max-device-width: 360px) {
      height: 180px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media only screen and (max-device-width: 320px) {
      height: 160px;
    }
    max-width: 410px;
    width: 100%;
    height: 400px;

    margin: 0 10px;

  }

  .picture-block {
    @media (max-width: 1024px) {
      height: auto;
      margin: 0;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
      margin: 0;
      max-width: 60%;
      min-height: initial;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-grow: 1;
    max-width: 410px;
    min-width: 150px;
    width: 100%;
    height: 100%;
    min-height: 180px;
    max-height: 250px;

    margin: 20px 0;

    color: black;
    background: url($bgPageImage) center center no-repeat;
    background-size: contain;

    //border: 1px dashed red;

    &__name, &__text {
      max-width: 80%;
      margin: 5px 0;
    }

    &__name {
      @media (max-width: 1200px) {
        font-size: 18px;
      }
      @media (max-width: 930px) {
        font-size: 16px;
      }
      @media (max-width: 840px) {
        font-size: 12px;
      }
      font-family: $basefont;
      @include setFontParams(24px, 700);
      text-transform: uppercase;
    }

    &__text {
      @media (max-width: 1200px) {
        font-size: 20px;
        margin: 10px 0;
      }
      @media (max-width: 930px) {
        font-size: 14px;
      }
      @media (max-width: 840px) {
        font-size: 12px;
        max-width: 190px;
      }
      @media (max-width: 320px) {
        font-size: 10px;
        margin: 0;
      }
      text-align: center;
      @include setFontParams(22px, 300);
    }

    &__price {
      @media (max-width: 1200px) {
        font-size: 22px;
      }
      @media (max-width: 930px) {
        font-size: 22px;
      }
      font-family: "Georgia", sans-serif;
      @include setFontParams(35px, 400);
    }
  }

  .picture-text {
    @media (max-width: 1200px) {
      max-width: 600px;
      padding: 5px 0;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
      font-size: 10px;
      line-height: normal;
    }
    @media (max-width: 375px) {
      font-size: 12px;
      max-width: 280px;
    }
    @media (max-width: 320px) {
      font-size: 3vw;
    }
    text-align: center;
    font-family: $basefont;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.7px;
  }
}
