.fp-slides {
  height: 740px;
}

.fp-slidesContainer,
.fp-tableCell {
  @media (max-width: 375px) {
    vertical-align: initial !important;
    padding-top: 40px !important;
  }
  @media (max-width: 375px) {
    padding-top: 30px !important;
  }
  @media (max-width: 320px) {
    padding-top: 45px !important;
  }
  height: 600px !important;
}

.sheduler-navigation {
  display: flex;
  width: 300px;
  height: 200px;
  align-items: center;

  .rectangle {
    width: 520px;
  }
}

.navigation-arrow {
  @media(max-width: 1440px) {
    bottom: 8%;
  }
  @media(max-width: 424px) {
    bottom: 10%;
  }
  @media(max-width: 375px) {
    bottom: 13%;
  }
  @media(max-width: 320px) {
    bottom: 15%;
  }
  position: absolute;
  left: 30px;
  bottom: 10%;
  z-index: 50;

  .arrow-left, .arrow-right {
    margin-right: 12px;
    cursor: pointer !important;
  }
}
