.map {
  width: 100%;
  max-height: 700px;
}

.map-container {
  height: 500px;
}

.contacts-checkpoint {
  @media (orientation: landscape) and (max-width: 1024px) and (min-width: 1024px) and (max-height: 768px) {
    height: 160px;
  }
  @media (orientation: portrait) and (min-width: 768px) and (max-width: 812px) and (max-height: 1024px) {
    height: 160px;
  }
  @media (min-width: 375px) and (max-width: 375px) {
    height: 120px;
  }
  @media (orientation: landscape) and (max-width: 480px) {
    margin: 25px 0;
  }
  width: 100%;
  margin: 15px 0;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  .checkpoint {
    position: relative;
    width: 230px;
    height: 75px;
    display: flex;

    background-color: white;

    &__logo, &__text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      width: 120px;
      height: auto;
      border-right: 1px solid lightgrey;
    }

    &__text {
      @include setFontParams(18px, 400);
      color: black;
      padding-left: 10px;
    }

    &:before {
      position: absolute;
      left: -2px;
      top: -2px;
      content: '';
      width: 8px;
      height: 100px;
      background-color: #ff6d00;
    }
  }
}

.contacts {
  position: relative;
  width: 100%;
  height: 70%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

  padding-bottom: 100px;

  .contacts-group {
    @media (max-width: 1260px) {
      flex-grow: 1;
      margin: 0 50px 20px 50px;
    }
    @media (orientation: landscape) and (max-width: 1260px) {
      max-width: 33%;
    }
    @media (orientation: landscape) and (max-width: 568px) {
      max-width: 30%;
      margin: 0 50px;
    }
    @media (orientation: landscape) and (max-width: 480px) {
      margin: 0;
      max-width: 40%;
    }

    width: 300px;
    height: 80px;

    &__name {
      @media(max-width: 375px) {
        margin: 0;
      }
      font-family: $defaultFont;
      @include setFontParams(18px, 700);
      color: #858383;
      margin-bottom: 10px;
    }

    &__text {
      @media (orientation: landscape) and (max-width: 1260px) {
        font-size: 20px;
      }
      @media (orientation: landscape) and (max-width: 568px) {
        font-size: 14px;
      }
      @media(max-width: 450px) {
        font-size: 4vw;
      }
      @media(max-width: 376px) {
        font-size: 5vw;
      }
      font-family: $fontGeorgia;
      @include setFontParams(24px, 400);
    }

    span {
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    & .link {
      text-decoration: underline;
      cursor: pointer;
    }
  }

}