.second-page {
  @media (max-width: 320px) {
    padding-top: 35px;
  }
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 70vh;

  .left {
    @media(max-width: 1360px) {
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
    padding-top: 50px;
  }

  .right {
    min-width: 35%;
    height: auto;
  }

  .content-group {
    @media (max-width: 1366px) {
      margin-bottom: 0;
    }
    @media (max-width: 1024px) {
      width: 100%;
      justify-content: center;
    }
    @media (orientation: portrait) and (max-width: 480px) {
      justify-content: center;
    }
    @media (orientation: landscape) and (max-width: 480px) {
      justify-content: flex-start;
    }
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 60px;
    min-width: 285px;
    max-width: 100%;
    max-height: 110px;
    height: 100%;
    flex-grow: 1;

    .image {
      @media (max-width: 1360px) {
        max-height: 100px;
      }
      @media (orientation: landscape) and (max-width: 834px) {
        max-height: 85px;
      }
      @media (orientation: landscape) and (max-height: 320px) {
        max-height: 65px;
      }
      @media (max-width: 320px) {
        max-height: 60px;
      }

      max-width: 100%;
      height: auto;
      max-height: 130px;
    }

    .text-block {
      @media (max-width: 1366px) {
        margin-left: 10px;
        max-width: 210px;
      }
      @media (max-width: 375px) {
        margin-left: 10px;
      }
      @media (orientation: landscape) and (max-height: 320px) {
        max-width: 145px;
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 270px;
      width: 100%;
      margin-left: 22px;

      &__up {
        @media (max-width: 1366px) {
          font-size: 1vw;
        }
        @media(max-width: 1024px) {
          letter-spacing: normal;
          font-size: 16px;
        }
        @media (max-width: 375px) {
          font-size: 10px;
          letter-spacing: 1px;
          width: 215px;
          line-height: 26px;
        }
        @media (max-width: 320px) {
          line-height: 20px;
        }
        @media (orientation: landscape) and (max-width: 834px) and (max-height: 360px) {
          font-size: 10px;
          line-height: normal;
        }
        @include setFontParams(18px, 700);
        letter-spacing: 1.5px;
        line-height: 26px;
        text-transform: uppercase;
        max-width: 255px;
        margin-bottom: 10px;
      }

      &__down {
        @media (max-width: 360px) {
          font-size: 10px;
        }
        @media (max-width: 320px) {
          font-size: 14px;
        }
        @media (orientation: landscape) and (max-height: 360px) {
          font-size: 10px;
          line-height: normal;
        }
      }
    }
  }

  .popup-hidden {
    width: 600px;
    height: 600px;
    color: white;
  }
}

.text-frame {
  @media (max-width: 1366px) {
    height: auto;
  }
  @media (max-width: 768px) {
    padding: 15px;
  }
  @media (max-width: 450px) {
    margin: 0;
  }
  max-width: 600px;
  min-width: 150px;
  width: 100%;
  height: auto;
  padding: 30px;
  margin: 0 0 0 20px;
  position: relative;

  &__name {
    @media (max-width: 1024px) {
      font-size: 35px;
    }
    @media (max-width: 768px) {
      font-size: 5vw;
    }
    @media (max-width: 450px) {
      font-size: 22px;
      margin-bottom: 5px;
    }
    @media (orientation: landscape) and (max-width: 834px) and (min-width: 320px) and (max-height: 414px) {
      font-size: 4vw;
      margin-bottom: 5px;
    }
    @include setFontParams(48px, 400);
    margin-bottom: 20px;
  }

  &__desc {
    @media (max-width: 1024px) {
      max-width: 570px;
    }
    @media (max-width: 768px) {
      font-size: 21px;
      line-height: normal;
      &:first-child {
        margin-bottom: 10px;
      }
    }
    @media (max-width: 720px) {
      font-size: 3vw;
    }
    @media (max-width: 580px) {
      font-size: 78%;
    }
    @media (max-width: 375px) {
      font-size: 80%;
    }
    @media (max-width: 320px) {
      font-size: 60%;
    }
    @media (orientation: landscape) and (max-width: 834px) and (min-width: 320px) and (max-height: 414px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media (orientation: landscape) and (max-width: 834px) and (min-height: 375px) {
      line-height: 15px;
    }
    @media (orientation: landscape) and (max-width: 834px) and (max-height: 360px) {
      font-size: 10px;
      line-height: 12px;
    }
    @include setFontParams(21px, 300);
    width: 100%;
    max-width: 676px;
    max-height: 195px;
    height: auto;

    font-size: 20px;
    line-height: 28px;
    font-weight: 300;

    margin-bottom: 5px;
  }
}

.corner-left {
  &:after,
  &:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    border: #ccc solid 2px;
  }

  &:before {
    border-right: 0 none;
    border-bottom: 0 none;
    top: 0;
    left: 0;
  }
  &:after {
    border-right: 0 none;
    border-top: 0 none;
    left: 0;
    bottom: 0;
  }
}

.corner-right {
  &:after,
  &:before {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    border: #ccc solid 2px;
  }

  &:before {
    border-left: 0 none;
    border-bottom: 0 none;
    top: 0;
    right: 0;
  }
  &:after {
    border-left: 0 none;
    border-top: 0 none;
    right: 0;
    bottom: 0;
  }
}

.text-link {
  @media (max-width: 450px) {
    margin: 10px 0;
  }
  @media (max-width: 375px) {
    margin-top: 8px;
    font-size: 12px;
  }
  @media (orientation: landscape) and (max-width: 834px) and (min-width: 320px) and (max-height: 414px) {
    margin-top: 0;
  }
  @include setFontParams(14px, 500);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;

  margin-top: 30px;

  position: relative;
  cursor: pointer;

  &:after {
    position: absolute;
    content: url($arrowIcon);
    margin-left: 10px;
  }
}
