$closeIcon: '/assets/images/popup/pop-up_close.png';
$rect: '/assets/images/rect.png';

.popup-container {
  @media (max-width: 450px) {
    min-height: 400px;
  }
  max-width: 1070px;
  min-height: 300px;
}

.modal {
  color: white;

  &__link {
    color: white;
  }

  &__link:visited,
  &__link:active {
    color: white;
  }

  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .nsm-dialog {
    @media (orientation: landscape) and (max-width: 834px) {
      display: flex;
      align-items: center;
    }
    @media (max-width: 450px) {
      display: flex;
      align-items: center;
    }
    max-width: 1070px;
    min-height: 650px;
  }

  .nsm-content {
    @media (max-width: 450px) {
      padding: 40px 15px;
      width: 90%;
    }
    @media (orientation: landscape) and (max-width: 840px) and (min-height: 320px) {
      padding: 15px;
    }

    max-width: 800px;
    margin: 0 30px;
    padding: 50px 50px 80px 50px;
    background-color: black;
  }

  .modal-title {
    @media (max-width: 450px) {
      text-align: center;
      font-size: 32px;
    }
    position: relative;
    margin-bottom: 20px;
    font-family: "Georgia", sans-serif;
    font-size: 48px;
    font-weight: 400;

    &:before {
      @media (max-width: 450px) {
        left: 0;
        top: 32%
      }
      @include addRectangleIcon();
      left: -50px;
      top: 35%;
    }
  }
  .events-container {
    padding-top: 15px;
  }
  .modal-text {
    @media (orientation: landscape) and (max-width: 840px) and (min-height: 375px) {
      font-size: 14px;
      line-height: 20px;
    }
    @media (orientation: landscape) and (max-width: 840px) and (min-height: 320px) {
      font-size: 14px;
      line-height: 14px;
    }
    @media (max-width: 450px) {
      line-height: initial;
      font-size: 10px;
    }
    font-family: $basefont;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
    text-indent: 1em;
  }

  .nsm-dialog-btn-close {
    background: url($closeIcon) center center no-repeat;
    top: 20px;
    right: 20px;
    border: none;
  }
  .nsm-dialog-btn-close {
    outline: none;
  }
}

.movies-list-container {
  display: flex;
  flex-wrap: wrap;

  .movies-list {
    margin: 15px 0;
  }

  & ul, p {
    flex-grow: 1;
    width: 100%;
  }

  & ul {
    color: white;

    & li {
      list-style-type: disc;
      font-size: 18px;
      margin-left: 15px;
    }
  }

  & a {
    color: white;
    text-decoration: underline;
  }

}

.educator-popup {
  padding: 20px;

  &__data {
    display: flex;
    align-items: flex-start;
    margin-top: 15px;

    & img {
      max-width: 150px;
      max-height: 150px;
      height: 100%;
      margin-right: 20px;
      object-fit: cover;
      border-radius: 50%;
    }

    & p {
      font-family: "Georgia", sans-serif;
      font-size: 1vw;

    }
  }
}