.page-inner {
    display: flex;
    justify-content: center;
    height: 100%;
}

.warner-page {
    @include setMediaMax($size_1600) {
        width: 80%;
    }
    @include setMediaMax($size_1024) {
        align-self: flex-start;
        top: 5rem;
    }
    @include setMediaMax($size_600) {
        top: 3rem;
    }
    width: 70%;
    height: auto;
    align-self: center;
    justify-content: center;
    font-family: 'Bebas Neue Regular', sans-serif;
    position: relative;

    & .code {
        @include setMediaMax($size_1024) {
            position: relative;
            right: 0;
            text-align: center;
            margin: 0 auto 4rem auto;
        }

        @include setMediaMax($size_600) {
            width: 4rem;
            margin: 0 auto 2rem auto;
        }

        position: absolute;
        top: 10px;
        right: 20px;
        width: 10rem;
    }

    & .inner-a {
        @include setMediaMin($size_1920) {
            font-size: 90px;
            line-height: 4.5vw;
        }
        @include setMediaMax($size_1024) {
            text-align: center;
            margin-bottom: 2rem;
            p {
                transform: translate(0, 0) !important;
            }
        }
        text-transform: uppercase;
        font-size: 4.2vw;
        line-height: 5vw;

        p:nth-child(2) {
            transform: translateX(13%);
        }

        p:nth-child(3) {
            transform: translateX(48%);
        }
    }

    & .inner-b {
        @include setMediaMin($size_1920) {
            font-size: 64px;

            & span {
                font-size: 100px;
            }
        }
        @include setMediaMax($size_1024) {
            text-align: center;
            margin-bottom: 2rem;
            line-height: 4vw;

            p {
                transform: translate(0, 0) !important;
            }
        }
        font-size: 4vw;
        line-height: 3vw;

        & span {
            font-size: 6vw;
        }

        p:nth-child(1) {
            transform: translateX(20%);
        }

        p:nth-child(3) {
            line-height: 5vw;
            transform: translateX(23%);
        }
    }

    & .inner-c {
        @include setMediaMax($size_1600) {
            margin: 3rem 0;
        }

        display: flex;
        align-items: flex-end;
        justify-content: center;

        div:nth-child(1) {
            display: flex;
            align-items: flex-end;
        }

        & .i-number, .i-online {
            @include setMediaMax($size_480) {
                font-size: 12vw;
            }
            font-size: 10vw;
            line-height: 9vw;
            font-weight: 700;
        }

        & .p-inner p {
            @include setMediaMax($size_480) {
                font-size: 3vw;
            }
            font-size: 2vw;
            padding-right: 10px;
        }

    }

    & .pay-info {
        z-index: 100;

        @include setMediaMax($size_1024) {
            width: auto;
            flex-wrap: wrap;
            text-align: center;

            p {
                width: 100%;
                margin: .5rem 0;
            }
        }
        @include setMediaMax($size_480) {
            font-size: 18px;
        }
        display: flex;
        justify-content: center;
        width: max-content;
        background: #000000;
        color: white;
        padding: 10px;
        font-size: 2.5vw;
        margin: 15px auto;

        em {
            border: 1px solid #FFFFFF;
            border-radius: 20px;
            padding: 0 10px;
            cursor: pointer;
            color: lightsalmon;
        }

        p {
            z-index: 100;
        }

        & a {
            cursor: pointer;
            color: lightsalmon;
            text-decoration: underline;
        }
    }
}

.pl-form {
    display: none;
    width: 100%;
    min-width: 280px;
    max-width: 600px;
}

.pl-shadow {
    display: none;
    padding: 0 15px;
}

.tinkoffPayRow {
    display: block;
    margin: 1%;
    width: 160px;
}