@import "~ngx-smart-modal/ngx-smart-modal";
@import "core/index";
// Pages
@import "pages/index";
// Structure
@import "structure/index";

// Clear Style
@include reset();

/*Отображение сетки*/
.grid_debug {
    @include debug(rgba(0, 0, 0, 0.2), 1px solid #ff0);
    position: absolute;
    z-index: 0;
}

#first::before {
    border: transparent !important;
}