<div class="page-container content-box content-box--seven">
    <app-section-header sectionName="Стоимость"></app-section-header>
    <!--<div class="page-container-name">-->
    <!--<span class="rectangle">Стоимость</span>-->
    <!--</div>-->
    <div class="page-pictures-block">
        <div class="pic-box" *ngFor="let item of content">
            <div class="picture-block">
                <div class="picture-block__name" [innerText]="item.name"></div>
                <div class="picture-block__text" [innerText]="item.text"></div>
                <div class="picture-block__price" [innerText]="item.price + ' ₽'"></div>
            </div>
            <div class="picture-text" [innerText]="item.desc"></div>
        </div>
    </div>
</div>

