<div class="scheme">
    <div class="scheme__image">
        <img [src]="scheme.img" alt="picture">
    </div>
    <div class="scheme__title"><span class="index">{{number + 1}}. </span>{{scheme.title}}</div>
    <div class="scheme__text" [innerText]="scheme.text"></div>
    <span *ngIf="scheme.extra" class="text-link" (click)="openModal(scheme.id)">Подробнее</span>
</div>
