<div class="page-container comments">
    <div class="page-container-name"><span class="rectangle">Отзывы</span></div>
    <div class="comments-container">
        <div class="comments-container__left">
            <div class="comments-group" *ngFor="let first of content.first">
                <img class="comments-group__image" [src]="first.image" alt="">
                <span class="comments-group__author" [innerText]="first.author"></span>
            </div>
        </div>
        <div class="comments-container__right">
            <div class="comments-group" *ngFor="let second of content.second">
                <img class="comments-group__image" [src]="second.image" alt="">
                <span class="comments-group__author" [innerText]="second.author"></span>
            </div>
        </div>
    </div>
</div>
