<div class="header-inner">
    <div class="header ">
        <div class="logo" (click)="openHome()"><img [src]="store.media.logo" alt=""></div>
        <div class="sign-up-btn"  (click)="signUp()">
            <span class="sign-up-btn__title" [innerHTML]="header.action.title"></span>
            <span class="sign-up-btn__img"></span>
        </div>
    </div>
</div>
