<div class="page-container">
    <div class="page-block page-block--gallery">
        <div class="page-container-name">
            <span class="rectangle">Галерея</span>
        </div>
    </div>
</div>
