<div class="page-container second-page">
    <div class="content-block content-block--method">
        <div class="left left--second">
            <div class="text-frame">
                <span class="corner-left"></span>
                <span class="corner-right"></span>
                <div class="text-frame__name" [innerText]="textFrame.title"></div>
                <div class="text-frame__desc" [innerHTML]="textFrame.first"></div>
                <div class="text-frame__desc" [innerHTML]="textFrame.second"></div>
                <span class="text-link" (click)="openModal()">Подробнее</span>
            </div>
        </div>
        <div class="right right--second">
            <div class="content-group" *ngFor="let item of images">
                <img class="image" [src]="item.src" alt="">
                <div class="text-block">
                    <span class="text-block__up" [innerText]="item.up"></span>
                    <span class="text-block__down" [innerText]="item.down"></span>
                </div>
            </div>
        </div>
    </div>
</div>