<div class="page-container">
    <div class="page-block page-block--educator">
        <div class="slide">
            <div class="page-container-name">
                <span class="rectangle">В главных ролях</span>
            </div>
            <div class="page-container-table">
                <div class="list" *ngFor="let item of content">
                    <span class="list__prof" [innerText]="item.profession"></span>
                    <span class="list__family" [innerText]="item.name" (click)="nextPage(item)"></span>
                </div>
            </div>
        </div>
    </div>
    <ng-container [ngSwitch]="index">
        <div class="slide">
            <ng-container *ngFor="let item of content">
                <ng-container *ngSwitchCase="item.index">
                    <app-educator (setSlide)="moveTo($event)" (goBack)="backPage()" [position]="index"></app-educator>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
