<div class="page-container content-box content-box--movies">
    <div class="page-block page-block--info">
        <div class="container-box">
            <div class="page-block__title">Выбор фильмов</div>
            <div class="page-block__meta" [innerHTML]="metaText"></div>
            <span class="text-link" (click)="openMovieList()">Список фильмов</span>
        </div>
    </div>
    <div class="page-block page-block--media"></div>
</div>
