<div class="form">
    <h2>Оплатить обучение</h2>
    <form class="form" name="form" onsubmit="pay(this); return false;">
        <input class="tinkoffPayRow" type="hidden" name="terminalkey" value="1596890087134">
        <input class="tinkoffPayRow" type="hidden" name="frame" value="false">
        <input class="tinkoffPayRow" type="hidden" name="language" value="ru">
        <input class="tinkoffPayRow" type="text" placeholder="Сумма заказа" name="amount"
               required>
        <input class="tinkoffPayRow" type="text" placeholder="Номер заказа" name="order">
        <input class="tinkoffPayRow" type="text" type="hidden" placeholder="Описание заказа" name="description">
        <input class="tinkoffPayRow" type="text" placeholder="ФИО плательщика" name="name">
        <input class="tinkoffPayRow" type="text" placeholder="E-mail" name="email">
        <input class="tinkoffPayRow" type="text" type="hidden" placeholder="Контактный телефон" name="phone">
        <input class="tinkoffPayRow" class="paybtn" type="submit" value="Оплатить">
    </form>
</div>
