<div class="page-container">
    <div class="page-block page-block--sheduler">
        <div class="container">
            <div class="slide" *ngFor="let scheme of scheme| slice:0:4; let i=index">
                <app-slide-scheme [scheme]="scheme" [number]="i"></app-slide-scheme>
            </div>
            <div class="navigation-arrow">
                <img class="arrow-left" [src]="store.arrowPrev" (click)="prevPage()" alt="picture">
                <img class="arrow-right" [src]="store.arrowNext" (click)="nextPage()" alt="picture">
            </div>
            <div class="video" (click)="openVideo()">
                <span class="video__title">Смотреть видео</span>
                <img class="video__image" [src]="store.education.videoImg">
            </div>
        </div>
    </div>
</div>

