<div class="page-container content-box content-box--contacts">
    <div class="contacts">
        <app-section-header sectionName="Контакты"></app-section-header>
        <div class="contacts-checkpoint">
            <div class="checkpoint">
                <div class="checkpoint__logo"><img [src]="logo" alt="Картинка"></div>
                <div class="checkpoint__text">Котельническая набережная, 25<br>к.2, подъезд 7</div>
            </div>
        </div>
        <div class="contacts-group" *ngFor="let item of content.contacts">
            <span class="contacts-group__name" [innerText]="item.name"></span>
            <span class="contacts-group__text" [class.link]="item.link" [innerText]="item.text"
                  (click)="clickEvents(item)"></span>
        </div>
    </div>
</div>